/* ========================= 
   Font Imports
========================= */

// Custom Import URL or Directory
/* E.G.

@import url("//hello.myfonts.net/count/31fe42");

*/

// Declare Font
/* E.G.

@font-face {
    font-family: 'BrushUp';
    src: url('webfonts/31FE42_0_0.eot');
    src: url('webfonts/31FE42_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31FE42_0_0.woff2') format('woff2'),url('webfonts/31FE42_0_0.woff') format('woff'),url('webfonts/31FE42_0_0.ttf') format('truetype');
} 

*/

// Font Imports
@import url('https://fonts.googleapis.com/css?family=Domine|Open+Sans:300,400');